* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:not(i) {
  font-family: "Lato", sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  --black: rgba(0, 0, 0, 0.5);
  --blackTone: rgba(81, 81, 81, 0.5);
  --clr-light: #eee;
  --clr-dark: #2f3640;
  --clr-footer: #e9e9e9;
  --clr-footer-links: #636363;
  --clr-footer-label: #515151;
  --light-neumorphic: rgba(255, 255, 255, 0.4);
  --neumorphic-shadow: rgba(0, 0, 0, 0.05);
}

html[data-theme="dark"] {
  --black: rgba(0, 0, 0, 0.5);
  --blackTone: rgba(81, 81, 81, 0.5);
  --clr-light: #2f3640;
  --clr-dark: #eee;
  --clr-footer: #353b48;
  --clr-footer-links: #dcdde1;
  --clr-footer-label: #f5f6fa;
  --light-neumorphic: #232930;
  --neumorphic-shadow: #3b4450;
}

body {
  background: var(--clr-light);
}

/* Landing Page  */
nav {
  background: black;
  height: 6vh;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 20000;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.icon {
  height: 4vh;
  padding-top: 4px;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.icon:hover {
  -webkit-filter: none;
          filter: none;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-link {
  list-style: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav-link a {
  text-decoration: none;
  color: gray;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.nav-link a:hover {
  color: var(--clr-light);
}

/*Dark mode*/
.toggle-container {
  position: relative;
}

.toggle-container input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle-container span {
  position: absolute;
  right: 5px;
  top: 30px;
  opacity: 0;
  -webkit-transition: 0.6s opacity;
  transition: 0.6s opacity;
}

.toggle-container:hover > span {
  opacity: 1;
}

.toggle-container label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: grey;
  float: right;
  border-radius: 100px;
  position: relative;
}

.toggle-container label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.toggle-container input:checked + label {
  background: #25abf8;
}

.toggle-container input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.toggle-container label:active:after {
  width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  -webkit-transition: all 750ms !important;
  transition: all 750ms !important;
  -webkit-transition-delay: 0 !important;
          transition-delay: 0 !important;
}

/*Dark mode toggler */
.intro {
  height: 94vh;
  background: url("./img/grey-scale-photo-of-person-holding-smartphone-1100447.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.intro-title {
  font-size: 5.5rem;
}

.title-wrapper {
  height: 94vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 0 2.5rem;
  line-height: 4.5rem;
}

.intro-link {
  text-decoration: none;
  color: #25abf8;
  font-weight: bold;
  font-size: 1.6rem;
}

.intro-link:hover {
  text-decoration: underline;
}

/*Pear Phone Section*/
.page-two {
  height: 94vh;
  background: var(--clr-light);
  color: var(--clr-dark);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  background: none;
}

.text-link a {
  text-decoration: none;
  color: #25abf8;
}

.text-link h3 {
  padding: 0 1.2rem;
  text-align: center;
  width: 150px;
  border-radius: 25px;
  -webkit-box-shadow: -9px -9px 9px 0 var(--light-neumorphic), 9px 9px 9px 0 var(--neumorphic-shadow);
          box-shadow: -9px -9px 9px 0 var(--light-neumorphic), 9px 9px 9px 0 var(--neumorphic-shadow);
}

.text-link h3:hover {
  cursor: pointer;
  -webkit-box-shadow: inset -9px -9px 9px 0 var(--light-neumorphic), inset 9px 9px 9px 0 var(--neumorphic-shadow);
          box-shadow: inset -9px -9px 9px 0 var(--light-neumorphic), inset 9px 9px 9px 0 var(--neumorphic-shadow);
}

.text-link h3:nth-child(1) {
  margin-right: 2rem;
}

.price {
  color: #6d6d6d;
}

.text-wrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 50px;
  line-height: 4rem;
}

.phone-x-text {
  padding: 2.2rem 2.3rem;
  border-radius: 30px;
  -webkit-box-shadow: -12px -12px 12px 0 var(--light-neumorphic), 12px 12px 12px 0 var(--neumorphic-shadow);
          box-shadow: -12px -12px 12px 0 var(--light-neumorphic), 12px 12px 12px 0 var(--neumorphic-shadow);
}

.phone-x-text h1 {
  font-size: 5rem;
}

.phone-x-text h2 {
  font-size: 2rem;
}

.phone-x-text__image img {
  height: calc(1vw + 400px);
  margin: 0;
  padding: 0 6rem 0 0;
}

/*Movies Section*/
.movies {
  position: relative;
}

.movies img {
  height: 400px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.movie-banner {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 150px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: -webkit-gradient(linear, left top, right top, from(var(--black)), to(var(--blackTone)));
  background: linear-gradient(90deg, var(--black), var(--blackTone));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.movie-banner .center {
  color: white;
  text-align: center;
}

.movie-banner .center h1 {
  font-size: 3rem;
}

.movie-banner .movies__more {
  text-decoration: none;
  color: #156492;
  font-size: 1rem;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.4);
  padding: 0.8rem 1rem;
  border-radius: 30px;
  -webkit-transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.movie-banner .movies__more:hover {
  background: rgba(255, 255, 255, 0.8);
}

.movie-banner .movies__free {
  text-decoration: none;
  background: var(--clr-light);
  color: var(--clr-dark);
  padding: 0.8rem 1rem;
  border-radius: 30px;
  -webkit-transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.movie-banner .movies__free:hover {
  background: var(--clr-dark);
  color: var(--clr-light);
}

/*Mac Book Section*/
.laptop {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--clr-dark);
}

.laptop .text {
  width: 60%;
  margin-left: 100px;
}

.laptop .text h1 {
  padding-bottom: 1.5rem;
}

.laptop .left {
  width: 50%;
}

.laptop .left img {
  height: calc(1vw + 400px);
  -webkit-filter: drop-shadow(4px 4px 12px rgba(0, 0, 0, 0.8));
          filter: drop-shadow(4px 4px 12px rgba(0, 0, 0, 0.8));
}

.laptop .right img {
  height: calc(1vw + 300px);
  -webkit-filter: drop-shadow(4px 4px 12px rgba(0, 0, 0, 0.8));
          filter: drop-shadow(4px 4px 12px rgba(0, 0, 0, 0.8));
}

.laptop .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  -webkit-box-shadow: -12px -12px 12px 0 var(--light-neumorphic), 12px 12px 12px 0 var(--neumorphic-shadow);
          box-shadow: -12px -12px 12px 0 var(--light-neumorphic), 12px 12px 12px 0 var(--neumorphic-shadow);
}

.laptop .mac-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.2rem;
}

.laptop .mac-title .logo {
  height: 30px;
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

.laptop .learn-more {
  text-decoration: none;
  font-size: 1.2rem;
  color: #25abf8;
  padding: 1.2rem 1.3rem;
  border-radius: 30px;
  margin-top: 1.2rem;
  -webkit-box-shadow: -9px -9px 9px 0 var(--light-neumorphic), 9px 9px 9px 0 var(--neumorphic-shadow);
          box-shadow: -9px -9px 9px 0 var(--light-neumorphic), 9px 9px 9px 0 var(--neumorphic-shadow);
}

.laptop .learn-more:hover {
  -webkit-box-shadow: inset -9px -9px 9px 0 var(--light-neumorphic), inset 9px 9px 9px 0 var(--neumorphic-shadow);
          box-shadow: inset -9px -9px 9px 0 var(--light-neumorphic), inset 9px 9px 9px 0 var(--neumorphic-shadow);
}

/*Footer*/
footer {
  background: var(--clr-footer);
  color: var(--clr-dark);
}

footer .toggler {
  display: none;
}

footer label {
  color: var(--clr-footer-label);
  font-weight: bolder;
}

footer .bottom {
  text-align: center;
}

footer .bottom a {
  color: var(--clr-dark);
}

.footer {
  width: 90%;
  margin: auto;
  padding-bottom: 1.2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.footer .footer-links {
  list-style: none;
  color: var(--clr-footer-links);
}

.footer .footer-links li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 94vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.modal-content {
  position: relative;
  width: 600px;
  height: 380px;
  background: white;
  border-radius: 4px;
  padding: 20px 0;
}

.modal-content img {
  position: absolute;
  -webkit-transform: rotate(-33deg);
          transform: rotate(-33deg);
}

.modal-content .selling {
  position: absolute;
  right: 14px;
  top: 50px;
}

.modal-content .selling form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-content .selling form .button-group {
  padding: 2.5rem 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-content .selling form .button-group input,
.modal-content .selling form .button-group select {
  border-radius: 4px;
  border: 1px solid #515151;
}

.modal-content .selling form .button-group h4 {
  border-radius: 14px;
  border: 2px solid #515151;
  color: #515151;
  text-align: center;
  padding: 6px;
  margin-bottom: 1.2rem;
  cursor: pointer;
}

.modal-content .selling form .button-group h4:hover {
  color: white;
  background: #515151;
}

.close {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
}

.fixed-wrapper {
  position: fixed;
  z-index: 10;
}

@media screen and (max-width: 650px) {
  .modal-content img {
    display: none;
  }
  .bg-modal .selling {
    width: 80%;
    text-align: center;
  }
}

@media screen and (max-width: 1239px) {
  html {
    font-size: 80%;
  }
  html,
  body {
    overflow-x: hidden !important;
  }
  .intro {
    background-position: center;
    color: #eee;
  }
  .movies__more {
    font-size: 1rem !important;
  }
  .page-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page-two__image img {
    height: calc(1vw + 300px);
    padding: 0;
  }
  .text-wrap {
    height: 80%;
  }
  .text-wrap .phone-x-text h1 {
    font-size: 4.5rem;
  }
  .text-wrap .text-link h3 {
    font-size: 1rem;
  }
  .right {
    -webkit-box-shadow: none;
            box-shadow: none;
    height: 80%;
  }
  .laptop {
    overflow-x: hidden !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .laptop .left {
    max-width: 90%;
  }
  .laptop .text {
    margin: 0;
    width: 99%;
    text-align: center;
  }
  .left img {
    display: none;
  }
  .right img {
    height: 1vw;
  }
  .toggler {
    display: block;
  }
  .footer {
    min-height: 200px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    padding-top: 2.5rem;
  }
  .footer-links {
    margin: 0;
    padding: 0;
  }
  label::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0da";
  }
  .business-edu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-links,
  .footer-links input[type="checkbox"] {
    display: none;
  }
  .toggler:checked ~ ul {
    display: block;
  }
  .toggler:checked ~ label::before {
    content: "\f0d7";
  }
  label:hover {
    cursor: pointer;
  }
}
/*# sourceMappingURL=styles.css.map */