* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:not(i) {
  font-family: "Lato", sans-serif;
}
:root {
  --black: rgba(0, 0, 0, 0.5);
  --blackTone: rgba(81, 81, 81, 0.5);
}
html {
  scroll-behavior: smooth;
}
body {
  background: #eee;
}
nav {
  background: rgba(0, 0, 0, 1);
  height: 6vh;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 20000;
  backdrop-filter: blur(3px);
}
.icon {
  height: 4vh;
  padding-top: 4px;
  filter: brightness(50%);
  transition: 0.3s ease-out;
  &:hover {
    filter: none;
  }
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-link {
  list-style: none;
  align-self: center;
}
.nav-link a {
  text-decoration: none;
  color: gray;
  transition: 0.3s ease-out;
  &:hover {
    color: white;
  }
}
.intro {
  height: 94vh;
  background: url("./img/grey-scale-photo-of-person-holding-smartphone-1100447.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: white;
}
.intro-title {
  font-size: 5.5rem;
}
.title-wrapper {
  height: 94vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 0 2.5rem;
  line-height: 4.5rem;
}
.intro-link {
  text-decoration: none;
  color: #25abf8;
  font-weight: bold;
  font-size: 1.6rem;
  &:hover {
    text-decoration: underline;
  }
}
.page-two {
  height: 94vh;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-link {
  a {
    text-decoration: none;
    color: #25abf8;
  }
  display: flex;
  justify-content: start;
  background: none;
}
.text-link h3 {
  padding: 0 1.2rem;
  text-align: center;
  width: 150px;
  border-radius: 25px;
  box-shadow: -9px -9px 9px 0 rgba(255, 255, 255, 0.4),
    9px 9px 9px 0 rgba(0, 0, 0, 0.05);
}
.text-link h3:hover {
  cursor: pointer;
  box-shadow: inset -9px -9px 9px 0 rgba(255, 255, 255, 0.4),
    inset 9px 9px 9px 0 rgba(0, 0, 0, 0.05);
}
.text-link h3:nth-child(1) {
  margin-right: 2rem;
}
.price {
  color: #6d6d6d;
}
.text-wrap {
  height: 100%;
  display: flex;
  align-items: center;
  right: 50px;
  line-height: 4rem;
}
.phone-x-text {
  padding: 2.2rem 2.3rem;
  border-radius: 30px;
  box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 0.4),
    12px 12px 12px 0 rgba(255, 255, 255, 0.05);
}
.image img {
  height: calc(1vw + 400px);
  margin: 0;
  padding: 0 6rem 0 0;
}
.movies {
  position: relative;
}
.movies img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}
.movie-banner {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 150px;
  justify-content: space-around;
  background: linear-gradient(90deg, var(--black), var(--blackTone));
  align-items: center;
  .center {
    color: white;
    text-align: center;
    h1 {
      font-size: 3rem;
    }
  }
  .movies__more {
    text-decoration: none;
    color: #156492;
    font-size: 1rem;
    font-weight: bold;
    background: rgba($color: #fff, $alpha: 0.4);
    padding: 0.8rem 1rem;
    border-radius: 30px;
    transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    &:hover {
      background: rgba($color: #fff, $alpha: 0.8);
    }
  }
  .movies__free {
    text-decoration: none;
    background: white;
    color: black;
    padding: 0.8rem 1rem;
    border-radius: 30px;
    transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    &:hover {
      background: black;
      color: white;
    }
  }
}
.laptop {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .text {
    width: 60%;
    margin-left: 100px;
    h1 {
      padding-bottom: 1.5rem;
    }
  }
  .left {
    width: 50%;
  }
  .left img {
    height: calc(1vw + 400px);
    filter: drop-shadow(4px 4px 12px rgba(0, 0, 0, 0.8));
  }
  .right img {
    height: calc(1vw + 300px);
    filter: drop-shadow(4px 4px 12px rgba(0, 0, 0, 0.8));
  }
  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 0.4),
      12px 12px 12px 0 rgba(255, 255, 255, 0.05);
  }
  .mac-title {
    display: flex;
    margin-bottom: 1.2rem;
    .logo {
      height: 30px;
      filter: brightness(0);
    }
  }
  .learn-more {
    text-decoration: none;
    font-size: 1.2rem;
    color: #25abf8;
    padding: 1.2rem 1.3rem;
    border-radius: 30px;
    margin-top: 1.2rem;
    box-shadow: -9px -9px 9px 0 rgba(255, 255, 255, 0.4),
      9px 9px 9px 0 rgba(0, 0, 0, 0.05);
    &:hover {
      box-shadow: inset -9px -9px 9px 0 rgba(255, 255, 255, 0.4),
        inset 9px 9px 9px 0 rgba(0, 0, 0, 0.05);
    }
  }
}
footer {
  .toggler {
    display: none;
  }
  background: #e9e9e9;
  .bottom {
    text-align: center;
  }
}
.footer {
  width: 90%;
  margin: auto;
  padding-bottom: 1.2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  .footer-links {
    list-style: none;
    color: #636363;
    li:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
@media screen and (max-width: 1239px) {
  html {
    font-size: 80%;
  }
  .intro {
    background-position: center;
    color: #eee;
  }
  .movies__more {
    font-size: 1rem !important;
  }
  .page-two {
    flex-direction: column;
  }
  .image img {
    height: calc(1vw + 200px);
    padding: 0;
  }
  .right {
    box-shadow: none;
  }
  .laptop {
    flex-direction: column;
    .left {
      width: 100%;
    }
    .text {
      margin: 0;
      width: 99%;
      text-align: center;
    }
  }
  .left img {
    display: none;
  }
  .toggler {
    display: block;
  }
  .footer {
    min-height: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 2.5rem;
  }
  label::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0da";
  }
  .business-edu {
    display: flex;
    flex-direction: column;
  }
  .footer-links,
  .footer-links input[type="checkbox"] {
    display: none;
  }
  .toggler:checked ~ ul {
    display: block;
  }
  .toggler:checked ~ label::before {
    content: "\f0d7";
  }
  label:hover {
    cursor: pointer;
  }
}
