* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:not(i) {
  font-family: "Lato", sans-serif;
}

:root {
  --black: rgba(0, 0, 0, 0.5);
  --blackTone: rgba(81, 81, 81, 0.5);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: #eee;
}

nav {
  background: black;
  height: 6vh;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 20000;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.icon {
  height: 4vh;
  padding-top: 4px;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.icon:hover {
  -webkit-filter: none;
          filter: none;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-link {
  list-style: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav-link a {
  text-decoration: none;
  color: gray;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.nav-link a:hover {
  color: white;
}

.intro {
  height: 94vh;
  background: url("./img/grey-scale-photo-of-person-holding-smartphone-1100447.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.intro-title {
  font-size: 5.5rem;
}

.title-wrapper {
  height: 94vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 0 2.5rem;
  line-height: 4.5rem;
}

.intro-link {
  text-decoration: none;
  color: #25abf8;
  font-weight: bold;
  font-size: 1.6rem;
}

.intro-link:hover {
  text-decoration: underline;
}

.page-two {
  height: 94vh;
  background: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  background: none;
}

.text-link a {
  text-decoration: none;
  color: #25abf8;
}

.text-link h3 {
  padding: 0 1.2rem;
  text-align: center;
  width: 150px;
  border-radius: 25px;
  -webkit-box-shadow: -9px -9px 9px 0 rgba(255, 255, 255, 0.4), 9px 9px 9px 0 rgba(0, 0, 0, 0.05);
          box-shadow: -9px -9px 9px 0 rgba(255, 255, 255, 0.4), 9px 9px 9px 0 rgba(0, 0, 0, 0.05);
}

.text-link h3:hover {
  cursor: pointer;
  -webkit-box-shadow: inset -9px -9px 9px 0 rgba(255, 255, 255, 0.4), inset 9px 9px 9px 0 rgba(0, 0, 0, 0.05);
          box-shadow: inset -9px -9px 9px 0 rgba(255, 255, 255, 0.4), inset 9px 9px 9px 0 rgba(0, 0, 0, 0.05);
}

.text-link h3:nth-child(1) {
  margin-right: 2rem;
}

.price {
  color: #6d6d6d;
}

.text-wrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 50px;
  line-height: 4rem;
}

.phone-x-text {
  padding: 2.2rem 2.3rem;
  border-radius: 30px;
  -webkit-box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 0.4), 12px 12px 12px 0 rgba(255, 255, 255, 0.05);
          box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 0.4), 12px 12px 12px 0 rgba(255, 255, 255, 0.05);
}

.image img {
  height: calc(1vw + 400px);
  margin: 0;
  padding: 0 6rem 0 0;
}

.movies {
  position: relative;
}

.movies img {
  height: 400px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.movie-banner {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 150px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: -webkit-gradient(linear, left top, right top, from(var(--black)), to(var(--blackTone)));
  background: linear-gradient(90deg, var(--black), var(--blackTone));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.movie-banner .center {
  color: white;
  text-align: center;
}

.movie-banner .center h1 {
  font-size: 3rem;
}

.movie-banner .movies__more {
  text-decoration: none;
  color: #156492;
  font-size: 1rem;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.4);
  padding: 0.8rem 1rem;
  border-radius: 30px;
  -webkit-transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.movie-banner .movies__more:hover {
  background: rgba(255, 255, 255, 0.8);
}

.movie-banner .movies__free {
  text-decoration: none;
  background: white;
  color: black;
  padding: 0.8rem 1rem;
  border-radius: 30px;
  -webkit-transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.movie-banner .movies__free:hover {
  background: black;
  color: white;
}

.laptop {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.laptop .text {
  width: 60%;
  margin-left: 100px;
}

.laptop .text h1 {
  padding-bottom: 1.5rem;
}

.laptop .left {
  width: 50%;
}

.laptop .left img {
  height: calc(1vw + 400px);
  -webkit-filter: drop-shadow(4px 4px 12px rgba(0, 0, 0, 0.8));
          filter: drop-shadow(4px 4px 12px rgba(0, 0, 0, 0.8));
}

.laptop .right img {
  height: calc(1vw + 300px);
  -webkit-filter: drop-shadow(4px 4px 12px rgba(0, 0, 0, 0.8));
          filter: drop-shadow(4px 4px 12px rgba(0, 0, 0, 0.8));
}

.laptop .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  -webkit-box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 0.4), 12px 12px 12px 0 rgba(255, 255, 255, 0.05);
          box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 0.4), 12px 12px 12px 0 rgba(255, 255, 255, 0.05);
}

.laptop .mac-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.2rem;
}

.laptop .mac-title .logo {
  height: 30px;
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

.laptop .learn-more {
  text-decoration: none;
  font-size: 1.2rem;
  color: #25abf8;
  padding: 1.2rem 1.3rem;
  border-radius: 30px;
  margin-top: 1.2rem;
  -webkit-box-shadow: -9px -9px 9px 0 rgba(255, 255, 255, 0.4), 9px 9px 9px 0 rgba(0, 0, 0, 0.05);
          box-shadow: -9px -9px 9px 0 rgba(255, 255, 255, 0.4), 9px 9px 9px 0 rgba(0, 0, 0, 0.05);
}

.laptop .learn-more:hover {
  -webkit-box-shadow: inset -9px -9px 9px 0 rgba(255, 255, 255, 0.4), inset 9px 9px 9px 0 rgba(0, 0, 0, 0.05);
          box-shadow: inset -9px -9px 9px 0 rgba(255, 255, 255, 0.4), inset 9px 9px 9px 0 rgba(0, 0, 0, 0.05);
}

footer {
  background: #e9e9e9;
}

footer .toggler {
  display: none;
}

footer .bottom {
  text-align: center;
}

.footer {
  width: 90%;
  margin: auto;
  padding-bottom: 1.2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.footer .footer-links {
  list-style: none;
  color: #636363;
}

.footer .footer-links li:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media screen and (max-width: 1239px) {
  html {
    font-size: 80%;
  }
  .intro {
    background-position: center;
    color: #eee;
  }
  .movies__more {
    font-size: 1rem !important;
  }
  .page-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .image img {
    height: calc(1vw + 200px);
    padding: 0;
  }
  .right {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .laptop {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .laptop .left {
    width: 100%;
  }
  .laptop .text {
    margin: 0;
    width: 99%;
    text-align: center;
  }
  .left img {
    display: none;
  }
  .toggler {
    display: block;
  }
  .footer {
    min-height: 200px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr);
        grid-template-columns: repeat(2, 1fr);
    padding-top: 2.5rem;
  }
  label::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0da";
  }
  .business-edu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-links,
  .footer-links input[type="checkbox"] {
    display: none;
  }
  .toggler:checked ~ ul {
    display: block;
  }
  .toggler:checked ~ label::before {
    content: "\f0d7";
  }
  label:hover {
    cursor: pointer;
  }
}
