.intro {
  height: 94vh;
  background: url("../img/grey-scale-photo-of-person-holding-smartphone-1100447.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: white;
}
.intro-title {
  font-size: 5.5rem;
}
.title-wrapper {
  height: 94vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 0 2.5rem;
  line-height: 4.5rem;
}
.intro-link {
  text-decoration: none;
  color: #25abf8;
  font-weight: bold;
  font-size: 1.6rem;
  &:hover {
    text-decoration: underline;
  }
}
